/**
 * Place your custom styles here.
 */

/**
 * Footer
 */
footer.footer{
    width:auto;
    text-align: center;
    color: #5A5657;
    margin-top: 0px;
}

/**
 * Navbar
 */
#navbar{
    margin-bottom: 0px;
    min-height: 30px;
}

#navbar .logo img{
    height:40px;
}

#navbar .logo{
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbar .navbar-collapse{
    width: 80%;
    margin: auto;
}

#navbar .navbar-header{
    margin-left:40px;
}

#navbar.navbar{
    background-color:#B81B22;
    border-color:#B81B22;
}

.navbar-default .navbar-nav > li > a.is-active {
  background-color: #960000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #800000;
}

/**
 * Main
 */
@media (min-width: 768px){
    .main-container {
        min-height: 600px;
    }
}

.view-header {
  position: relative;
}
.view-header .view-btn-right {
float: right;
    margin-left: 3px;
}
.block .view-header .view-btn-right {
  top: -43px;
}

/* news */
.news p{
    padding-top: 5px;
    padding-bottom: 10px;
}

.news a.add-favorate{
    padding-left:20px;
}

div.view-id-news_links ul,
div.view-id-regulations ul{
    list-style-type:none;
    padding-left: 0;
}

div.view-id-news_links ul li{
}

ul.ui-autocomplete{
  z-index: 2147483647;
}

.view li:hover {
  background-color: aliceblue;
}
.view li span.pull-right{
  padding-left: 5px;
}

.view li{
  padding: 1px 0px 1px 0px;
}

.view-filters button[data-drupal-selector="edit-reset"]{
  margin-left: 3px;
}
